@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

*{
   padding: 0;
}
body{
   background: url(images/fundo1.png) no-repeat center fixed;
   -webkit-background-size:cover;
   background-size: cover;
   z-index: 0;
}

header{
   display: flex;
   justify-content: center;
}
.header{
   margin-top: 10px;
   height: 100px;
   width: 500px
}
.menu{
  
   cursor: pointer;
   width: 875px;
   height: 50px;
   background-color: red;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   position: relative;
   margin-left: 17%;
   margin-bottom: 17px;
   font-family: 'Signika', sans-serif;
   font-size:  16px;
  
}
.menu ul{
   list-style: none;
   position: relative;
}
.menu ul li{
   width: 175px;
   float: left;
}
.menu a{
   padding: 15px;
   display: block;
   text-decoration: none;
   text-align: center;
   background-color: #d50000;
   color: white;
   /* border-inline-start: solid white 1px; */
}
.menu ul ul{
   position: absolute;
   visibility: hidden;
}
.menu ul li:hover ul{
   visibility: visible;
   
}
.menu a:hover{
   background-color:#9b0000;
   color: #ffffff;
}
.menu ul ul li{
   float: none;
   border-bottom: solid 1px rgb(204, 204, 204);
}
.menu ul ul li a{
   background-color:#ff3f31;
}
label[for="bottomMenu"]{
   background-color: red;
   color: rgb(204, 204, 204);
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 30px;
   cursor: pointer;
   width: 50px;
   height: 50px;
   display: none;
}
#bottomMenu{
   display: none;
}    
.list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   z-index: 1;
} 

.pokecard{
   width: 20%;
   height: 70%;
   margin: 10px;
   padding: 10px;
   background-color: rgb(177, 217, 255);
   box-shadow: 3px 3px 3px rgba(11, 0, 71, 0.295);
   border-radius: 10px;
   font-family: 'Signika', sans-serif;
}

.inner{
   width: 90%;
   height: 100%;
   padding: 10px;
   margin: 4px;
   background-color: rgba(255, 255, 255, 0.884);
   border-radius: 10px;
   font-family: 'Signika', sans-serif;
}


.pokecard:hover{
   background-color: rgba(81, 153, 248, 0.87);
   box-shadow: 0px 0px 10px #dff2ffea;
}

.pokeimg{
   display: flex;
   justify-content: center;
   border:solid #afafaf 5px;
   background-image: url(images/pokego.png);
   background-size: cover;
   width: 90%;
   margin-left: 3%;
   box-shadow: 2px 3px 5px rgba(12, 12, 12, 0.692);
}

.num{
   margin-bottom: -22%;
   margin-left: 5px;
}

.name{
   display: flex;
   justify-content: flex-end;
   font-size: 20px;
   border-radius: 10px;
   padding: 5px;
   margin-bottom: -7%;
   margin-right: 5px;

}

.insideCard{
   margin-left: 2%;
   word-break: break-word;
}
.icons{
   margin-bottom: -5px;
   width: 25px;
   margin-right: 2px;
   height: auto;
}

.candy{
   display: flex;
   margin-bottom:-16%;
   margin-left: 57%;
}

.subtittles{
   margin-bottom: -5px;
}

@media (max-width: 800px){
   .header{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 17px;
   }
   .pokecard{
      width:55%;
      height: 100%;
   }
   .menu{
      margin-top: 5px;
      margin-left: -100%;
      transition: all .4s;
      width: 100%;
   }
   .menu ul li{
      width: 100%;
      float: none;
   }
   .menu ul ul{
      position: static;
      overflow: hidden;
      max-height: 0;
      transition: all .4s;
   }
   .menu ul li:hover ul{
      height: auto;
      max-height: 900px;
   }
   label[for="bottomMenu"]{
      display: block;
      cursor: pointer;
   }
   #bottomMenu:checked ~ .menu{
      margin-left: 0;
   }
   .candy{
      display: flex;
      margin-bottom:-17%;
      margin-left: 57%;
      margin-right:5px;
   }

   .inner{
      width: 89%
   }

}