@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

*{
   padding: 0;
}
body{
   background: url(images/fundo1.png) no-repeat center fixed;
   -webkit-background-size:cover;
   background-size: cover;
   z-index: 0;
}
header{
   display: flex;
   justify-content: center;
}
.header{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   height: 100px;
   width: 500px
}
.menu{
   cursor: pointer;
   width: 875px;
   height: 50px;
   background-color: red;
   text-align: center;
   position: relative;
   margin-left: 17%;
   margin-bottom: 17px;
   font-family: 'Signika', sans-serif;
   font-size:  16px;
}
.menu ul{
   list-style: none;
   position: relative;
}
.menu ul li{
   width: 175px;
   float: left;
}
.menu a{
   padding: 15px;
   display: block;
   text-decoration: none;
   text-align: center;
   background-color: #d50000;
   color: white;
}
.menu ul ul{
   position: absolute;
   visibility: hidden;
}
.menu ul li:hover ul{
   visibility: visible;
   
}
.menu a:hover{
   background-color:#9b0000;
   color: #ffffff;
}
.menu ul ul li{
   float: none;
   border-bottom: solid 1px rgb(204, 204, 204);
}
.menu ul ul li a{
   background-color:#ff3f31;
}
label[for="bottomMenu"]{
   background-color: red;
   color: rgb(204, 204, 204);
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 30px;
   cursor: pointer;
   width: 50px;
   height: 50px;
   display: none;
}
#bottomMenu{
   display: none;
}    
.list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   z-index: 1;
} 
.maincontainer{
   position: relative;
   width: 250px;
   height: 355px;
   margin: 10px;
   padding: 10px;
   font-family: 'Signika', sans-serif;
   cursor: pointer;
  
}

.pokecard{
    
   border-radius: 10px;
   position: absolute;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transition: all 0.5s ease;
   margin: -5px;
  
}

.pokecard:hover{
   transform: rotateY(180deg);
}

.pokeimg{
   display: flex;
   justify-content: center;
   border:solid #afafaf 5px;
   background-image: url(images/pokego.png);
   background-size: cover;
   width: 90%;
   margin-left: 3%;
   box-shadow: 2px 3px 5px rgba(12, 12, 12, 0.692);
}
.pokeFront{
   display: flex;
   justify-content: center;
   /* border:solid #afafaf 5px; */
   /* background-image: url(images/pokego.png); */
   background-size: cover;
   width: 90%;
   margin-left: 3%;
   /* box-shadow: 2px 3px 5px rgba(12, 12, 12, 0.692); */
}
.front{
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   background-color: rgb(143, 143, 235);
   border-radius: 10px;
   font-family: 'Signika', sans-serif;
   color: #000;
}
.back{
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   backface-visibility: hidden;
   overflow: hidden;
   background: #fafafa;
   color: #333;
   text-align: center;
   transform: rotateY(180deg);
}

.num{
   margin-bottom: -20%;
   margin-left: -70px;
}

.name{
   display: flex;
   justify-content: flex-end;
   font-size: 20px;
   border-radius: 10px;
   padding: 5px;
   margin-bottom: -7%;
   margin-right: 5px;

}

.insideCard{
   margin-left: 2%;
   word-break: break-word;
}
.icons{
   margin-bottom: -5px;
   width: 25px;
   margin-right: 2px;
   height: auto;
}
.candy{
   display: flex;
   margin-bottom:-16%;
   margin-left: 57%;
   
}

.subtittles{
   margin-bottom: -5px;
}

.statistics{
   margin-left: 11%;
}

.showInfo{
   display: flex;
   flex-direction: column;
   justify-content: center;;
   align-items: center;
   padding: 45px;
   margin: 15px;
   width: 76%;
   height: auto;
   background: #ffffff8e;
   border-radius: 15px;
   font-family:'Signika', sans-serif;
   font-size: 20px;
   color: #252525;
}

.ajustImage{
   width: 100px;
   height: auto;
   margin-top: 30px;
   margin-left: 22px;
}

.ajustImage:hover{
   width: 115px;
   height: auto;
}

.search{
   display: flex;
   justify-content: flex-end;
   width: 100%;
   height: 30px;
   margin-top: -100px;
   margin-bottom: 90px;
}

.searchBox{
   width: 250px;
   height: 40px;
   padding: 5px;
   float: left;
   font-family: 'Signika', sans-serif;
}
.searchImage{
   width: 30px;
   height: 30px;
   background-color: #fcf265;
   padding: 5px 10px;
   border-radius: 2px;
   cursor: pointer;
}

.searchImage:active {
	position:relative;
	top:1px;
}

.searchResult{
   margin-top:15%;
   font-family:'Signika', sans-serif;
   font-size: 20px;
}

@media (max-width: 1000px){
   .header{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 17px;
   }

   .list{
      margin-top:-100px;
   }

   .pokecard{
      width:55%;
      height: 100%;
   }
   .menu{
      margin-top: 5px;
      margin-left: -100%;
      transition: all .4s;
      width: 100%;
   }
   .menu ul li{
      width: 100%;
      float: none;
   }
   .menu ul ul{
      position: static;
      overflow: hidden;
      max-height: 0;
      transition: all .4s;
   }
   .menu ul li:hover ul{
      height: auto;
      max-height: 900px;
   }
   label[for="bottomMenu"]{
      display: block;
      cursor: pointer;
   }
   #bottomMenu:checked ~ .menu{
      margin-left: 0;
   }
   .candy{
      display: flex;
      margin-bottom:-17%;
      margin-left: 57%;
      margin-right:5px;
   }

   .inner{
      width: 89%
   }

   .showInfo{
      width: 80%;
      height: auto;
   }

   .search{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30px;
      margin-top: 20px;
      margin-bottom: -10px;
   }
}

