*{
   padding: 0;
}
body{
   background: url(fundo.jpg) no-repeat;
   background-size: cover;
   z-index: 0;
}

.menu{
  
   cursor: pointer;
   width: 450px;
   height: 50px;
   background-color: red;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   position: relative;
   margin-left: 34%;

}
.menu ul{
   list-style: none;

}
.menu ul li{
   width: 150px;
   float: left;
}
.menu a{
   padding: 15px;
   display: block;
   text-decoration: none;
   text-align: center;
   background-color: red;
   color: white;
   
}
.menu ul ul{
   position: absolute;
   visibility: hidden;
}
.menu ul li:hover ul{
   visibility: visible;
   
}
.menu a:hover{
   background-color: rgb(248, 248, 71);
   color: #555;
}
.menu ul ul li{
   float: none;
   border-bottom: solid 1px rgb(204, 204, 204);
}
.menu ul ul li a{
   background-color: rgb(228, 60, 60);
}
label[for="bottomMenu"]{
   padding: 5px;
   background-color: red;
   color: rgb(204, 204, 204);
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 30px;
   cursor: pointer;
   width: 50px;
   height: 50px;
   display: none;
}
#bottomMenu{
   display: none;
}    
.list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   z-index: 1;
} 
.pokecard{
   width: 20%;
   height: 80%;
   margin: 10px;
   padding: 10px;
   background-color: rgba(200, 214, 253, 0.747);
   box-shadow: 3px 3px 3px rgba(11, 0, 71, 0.295);
   border-radius: 10px;
}
.pokeimg{
}
@media (max-width: 800px){
   .pokecard{
      width:50%;
      height: 100%;
   }
   .menu{
      margin-top: 5px;
      margin-left: -100%;
      transition: all .4s;
      width: 100%;
   }
   .menu ul li{
      width: 100%;
      float: none;
   }
   .menu ul ul{
      position: static;
      overflow: hidden;
      max-height: 0;
      transition: all .4s;
   }
   .menu ul li:hover ul{
      height: auto;
      max-height: 900px;
   }
   label[for="bottomMenu"]{
      display: block;
      cursor: pointer;
   }
   #bottomMenu:checked ~ .menu{
      margin-left: 0;
   }
}